/* Using @extend lets you share a set of CSS properties from one selector 
   to another. It helps keep your Sass very DRY. A placeholder class (start 
   with %) is a special type of class that only prints when it is extended, 
   and can help keep your compiled CSS neat and clean. */
.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

/* Note: Sass will combine the selectors instead 
   of repeating the same declarations over and over */
